<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-color: rgba(0, 0, 0, 0);
                margin: 0px auto;
                overflow: hidden;
            }
            h1 {font-size: 2.5vw; margin: 0;}
            h2 {font-size: 1.33vw; margin: 0;}
            p, li {font-size: 1.2vw; margin: 1em 0;}
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Welcome to motemote: a realtime Conway's Game of Life implemented with twitch chat emotes. Add it as a browser source in OBS and let your viewers do the rest.">
        <title>motemote: <%= channel %></title>
    </head>
    <body>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <h1 id="errorHeader" style="color: grey;" hidden></h1>
            <h2 id="errorDesc" style="color: grey;" hidden></h2>
        </div>

        <canvas
            id="canvas"
            width=  <%= typeof cw != 'undefined' ? cw : 1280 %>
            height= <%= typeof ch != 'undefined' ? ch :  720 %>
        ></canvas>

        <script src="/js/tmi.min.js"></script>
        <script>
            var gw =        <%= typeof       gw != 'undefined' ?       gw : 48 %>;
            var gh =        <%= typeof       gh != 'undefined' ?       gh : 27 %>;            
            var lifespan =  <%= typeof lifespan != 'undefined' ? lifespan :  1 %>;
            var ips =       <%= typeof      ips != 'undefined' ?      ips : 10 %>;
            var fps =       <%= typeof      fps != 'undefined' ?      fps : 60 %>;
            var channel =   '<%= channel %>';
        </script>
        <script src="/js/motemote.js"></script>
    </body>
</html>